html {
    width: 100%;
    height: 100%;
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/wave.svg');
    background-position: right 0px;
    background-size: cover;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

li {
    padding-bottom: 5px;
}

nav {
    text-align: center;
}

.container {
    margin: auto;
    max-width: 1024px;
    min-width: 300px;
}

.avatar-container {
    text-align: center;
}

.avatar {
    margin: auto;
    max-width: 50%;
    max-height: 500px;
}

h1,
h2 {
    text-align: center;
}

blockquote {
    padding: 10px 26px;
    background-color: rgb(198, 198, 198);
    border-radius: 10px;
    font-size: small;
}

.gallery-container {
    text-align: center;
}

.gallery-image {
    margin: 0;
    padding: 15px;
    width: calc(33% - 2 * 15px);
    display: inline-block;
    height: 0px;
}

.gallery-image img {
    width: 100%;
}

footer {
    font-size: smaller;
    text-align: center;
    color: #004370;
}

@media(max-width: 1024px) {
    .container {
        margin: auto;
        max-width: 70%;
    }

    .gallery-image {
        padding: 10px;
        width: calc(49% - 2 * 10px);
    }
}


@media(max-width: 768px) {

    .container {
        margin: auto;
        max-width: 90%;
    }


    .gallery-image {
        width: 100%;
    }

    ul {
        padding-left: 10px;
    }
}

.spinning {
    overflow: hidden;
    animation: spin 2s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(100%);
    }

    50% {
        transform: rotate(30deg) scale(60%);
    }

    100% {
        transform: rotate(360deg);
    }
}